<!DOCTYPE html>
<html lang="en">
<script src="js/data.js"></script>
<script src="js/events.js"></script>
<head>
    <link rel="manifest" href="/js/manifest.json">
    <link rel="apple-touch-icon" href="/css/apple-touch.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#764ABC"/>
    <link href="css/style.css" rel="stylesheet" />
</head>
<body>

  <div class="page-container">
    <c class="home-button" id="homeBtn"> 
      <img height=75px src="https://i.imgur.com/evR062H.png"> 
    </c> 
    <div class="page-header">
    </div>
    <div class="page-body">
      <div class="club-box1">
        <div class="league-selection">
          <div class="league-name" style="bottom: 11px;font-size: 25px;"><b></b></div>
          <div class="country-flag"></div>
        </div>
        <div class="club-selection">
          <div class="club-name" style="font-size: 25px; color: #645416;" ><p></p> </div>
          <div class="club-logo"></div>
          <div class="club-rating"></div>
          <div class="arrow-selections">
            <a id="left-arrow" class="arrow1">&#8249;</a>
            <a id="right-arrow" class="arrow1">&#8250;</a>
          </div>
        </div>
      </div>

      <div class="club-box2">
        <div class="league-selection">
          <div class="league-name" style="bottom: 11px;font-size: 25px;" ><b></b></div>
          <div class="country-flag"></div>
        </div>
        <div class="club-selection">
          <div class="club-name" style="font-size: 25px; color: #645416;"></div>
          <div class="club-logo"></div>
          <div class="club-rating"></div>
          <div class="arrow-selections">
            <a id="left-arrow" class="arrow2">&#8249;</a>
            <a id="right-arrow" class="arrow2">&#8250;</a>
          </div>
        </div>
      </div>
      <div class="continue-button" style="text-align: center;">
        <a id="but2" class="simulate" type="button">Start</a>
      </div>
    </div>
  </div>
  <script src="/js/pwa.js"></script>
</body>
</html>